html, body,  h1, h2, h3, section, p, ul, li, a
    {
        font-family:Helvetica, sans-serif;
        font-size:100%;
        width:100%;
        font-weight:lighter;
    }

/*HTML*/
section{margin-bottom:40px;}
section h2, section h3, section p{max-width:50%;}
h1{font-size:250%;}
h2{font-size:150%;}

/*classes*/
.emphasis, .emphasis2, .tagline{font-weight:bold;}
.testimonial .emphasis2{margin-bottom:30px;}
.mobile-portrait-only{display:none;}
.work-summary{
    background-color: #ecebeb;
    border-radius:10px;
    padding:2px 2px 2px 12px;
    }
.client-name, .disclaimer, .quote{font-style: italic;}
.client-name{margin-bottom:-12px;}
.disclaimer{font-size:75%;}
.quote{margin-bottom:-12px;}

/*IDs*/
#wrapper{padding-left:20px;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* HTML */
    section{margin-bottom:80px;}
    section h2, section h3, section p{max-width:85%;}
    /*.work-summary p{max-width:98%; margin:0 auto;}*/
    .testimonial br{display:none}

    /*Classes*/
    .quote{margin-bottom:-25px;}
    .mobile-portrait-only{display:inline;}

    /* IDs */
    #wrapper{padding-left:40px;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */

    /*CLASSES*/
    .work-summary{padding: 1px 2px 2px 12px;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */

    /*CLASSES*/
    .work-summary{padding:2px 2px 2px 34px; margin-left:-20px;margin-top:50px;}
    .mobile-portrait-only{display:inline;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}