<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ryan O'Reilly &#8226 UX Professional</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/main-styles.css}" />
</head>
<body>
<header>
    <h1>Ryan O'Reilly &#8226 UX Professional</h1>
</header>
<section>
    <article>
        <header>
            <h2>Summary</h2>
            <p>Some text</p>
        </header>
        <div>
            <h3>Client Name</h3>
            <p>Some text</p>
        </div>
    </article>
</section>
<footer>
    <p>Footer text</p>
</footer>
</body>
</html>